/* ---------------------   LANDING PAGE   ------------------------------- */
/* more intense colors in the landing page */
.text-blue-400 {
  color: hsl(200, 100%, 50%);
}

.text-red-400 {
  color: hsl(0, 100%, 61%);
}

.demoJoin {
  transform: rotateX(40deg) rotateZ(-15deg);
  transform-style: preserve-3d;
  /* width: 60%; */
}
