.sideBar {
  height: 100%;
  border-radius: 10px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-auto-rows: 3em;
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 0%;
  transition: width 300ms ease-out;
}

.showSideBar {
  position: relative;
  display: grid;
  width: 20%;
  padding: 10px;
  margin: 0 5px;
  border: 1px dashed white;

  /* width: 0; */
}

.sideBar::-webkit-scrollbar {
  width: 4px;
}
.sideBar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--pc));
  border-radius: 10px;
}

.mainWindow {
  /* flex: 3; */
  width: 100%;
  min-height: 100%;
  height: max-content;
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px;
  position: relative;
  border: 1px dashed white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.activeQuestionNumber {
  border: 2px solid rgba(255, 255, 255, 0.726);
  padding: 6px;
  border-radius: 5px;
  margin-right: 15px;
  background-color: hsl(var(--s));
  color: white;
  font-weight: bold;
}
.optionsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 6px;
}

.wrap {
  overflow: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.drawerBtn {
  position: absolute;
  top: 25px;
  left: 0px;
  background-color: transparent;
  background-color: hsl(var(--b2));
  outline: none;
  cursor: pointer;
  padding: 0.5em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  transition: padding 0.3s ease;
  z-index: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.drawerBtn > p {
  transition: transform 0.3s ease;
  font-size: 1.5em;
  font-weight: bold;
  transform: translateY(-10%);
}
.drawerBtnOpen > p {
  transform: rotate(180deg) translateY(-10%);
}

.quizActions {
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.questionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* first child of questionContent => the question contnet */
.questionContent > *:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}

/* second child of questionContent => the difficulty tag*/
.questionContent > *:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* Mobile specific styles  */
@media only screen and (max-width: 35em) {
  .quizActions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  .drawerBtn:active {
    color: hsl(var(--s));
  }
  .sideBar::-webkit-scrollbar {
    width: 2px;
  }
}

/* Desktop specific styles */
@media only screen and (min-width: 35em) {
  .drawerBtn:hover {
    padding-left: 2.5em;
    color: hsl(var(--s));
  }

  .drawerBtn:hover > p {
    transform: rotate(180deg) translateY(-10%);
  }
}

.submittingToast {
  position: fixed;
  width: max-content;
  height: min-content;
  display: flex;
  justify-content: center;
  right: 1em;
  bottom: 1em;
}
