.heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* make the container so that its two children are vertically separated,
and the ratio of their width is 1:2 */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1px;
  gap: 10px;
}

/* child 1 */
.container > div:nth-child(1) {
  flex: 1;
}

/* child 2 */
.container > div:nth-child(2) {
  flex: 2;
}


/* Media query for larger devices */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: stretch;
  }
}

/* for the RadialScore Card */
.scoreCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 300px;
  margin: 10px;
  width: 300px;
}

.scoreCard .topPart {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreCard .bottomPart {
  flex: 2;
  background-color: rgba(0, 0, 0, 0.4);
  /* text setings */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.marks {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.marks > .firstNumber,
.marks > .middleSlash,
.marks > .lastNumber {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marks > .firstNumber {
  position: relative; /* Add relative positioning */
  top: -15px; /* Move the first number 15px up */
  font-weight: bold;
  right: -5px;
}

.marks > .middleSlash {
  margin: 0 1px; /* Add 5px spacing horizontally */
  font-size: 70px;
  font-weight: semi-bold;
}

.marks > .lastNumber {
  position: relative; /* Add relative positioning */
  bottom: -15px; /* Move the last number 15px down */
  font-weight: bold;
  left: -5px;
}
