.heading {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

.statMainTitle {
  /* word wrap and set it so that it occupies minimum width possible */
  word-wrap: break-word;
  min-width: 0;
  padding: 2px;
  padding-bottom: 0px;
  /* center it */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* make the container so that its two children are vertically separated,
and the ratio of their width is 1:2 */
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1px;
  gap: 20px;
  width: 100%; /* Added */
}

.subHeading{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1px;
  gap: 20px;
  width: 100%; /* Added */
}

/* for the grand total */
.grandTotal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1px;
  padding: 5px;
  gap: 10px;
}

.diffCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 1px;
  padding: 5px;
  gap: 10px;
}

.diffCards > :nth-child(3) {
  /* rgb for red */
  background-color: rgba(255, 0, 0, 0.1);
}

.diffCards > :nth-child(2) {
  /* rgb for yellow */
  background-color: rgba(255, 255, 0, 0.1);
}

.diffCards > :nth-child(1) {
  /* rgb for green */
  background-color: rgba(0, 255, 0, 0.1);
}

.statMainTitle {
  /* word wrap and set it so that it occupies minimum width possible */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Query for smaller devices */
@media (max-width: 767px) {
  .mainContainer {
    gap: 10px; /* Adjust gap for smaller devices */
  }

  .subContainer {
    gap: 10px; /* Adjust gap for smaller devices */
  }

  .grandTotal,
  .diffCards {
    flex-direction: column; /* Change flex-direction to stack vertically */
    align-items: flex-start; /* Adjust alignment for stacked elements */
  }
}

/* for the RadialScore Card */
.scoreCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 300px;
  width: 300px;
}

.scoreCard .topPart {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreCard .bottomPart {
  flex: 2;
  background-color: rgba(0, 0, 0, 0.4);
  /* text setings */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.marks {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.marks > .firstNumber,
.marks > .middleSlash,
.marks > .lastNumber {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marks > .firstNumber {
  position: relative; /* Add relative positioning */
  top: -15px; /* Move the first number 15px up */
  font-weight: bold;
  right: -5px;
}

.marks > .middleSlash {
  margin: 0 1px; /* Add 5px spacing horizontally */
  font-size: 70px;
  font-weight: semi-bold;
}

.marks > .lastNumber {
  position: relative; /* Add relative positioning */
  bottom: -15px; /* Move the last number 15px down */
  font-weight: bold;
  left: -5px;
}
