@media (max-width: 520px) {
  .mobileFonts {
    font-size: 1em;
  }
  .heading {
    max-width: 5ch !important;
  }
}

.heading {
  max-width: 20ch;
}

/* ------------------------------- QUESTION FORM---------------------------------------------------- */

@media (min-width: 768px) {
  .questionForm {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
    padding: 10px;
  }

  .questionForm > * {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
  }
}

/* to make children of this class */
.questionForm > * {
  flex: 1;
  margin: 0 10px; /* Add margin for gap */
}

.questionForm > :nth-child(1) {
  flex: 0.4;
}

.questionForm > :nth-child(2) {
  flex: 0;
}

.questionForm > :nth-child(3) {
  flex: 2;
}
