@tailwind base;
@tailwind components;
@tailwind utilities;

/* center the obj */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* ---------------------   LANDING PAGE   ------------------------------- */
/* more intense colors in the landing page */
.text-blue-400 {
  color: hsl(200, 100%, 50%);
}

.text-red-400 {
  color: hsl(0, 100%, 61%);
}

/* ALternate -GLOW  */
/* @keyframes bounce { */
  /* 0%, 100% { transform: translateY(-20%); }
  50% { transform: translateY(0); }
}

@keyframes flame {
  0% { text-shadow: 0 0 5px #FF5722; }
  25% { text-shadow: 0 0 20px #FF5722, 0 0 40px #FFC107; }
  50% { text-shadow: 0 0 5px #FF5722; }
  75% { text-shadow: 0 0 20px #FF5722, 0 0 40px #FFC107; }
  100% { text-shadow: 0 0 5px #FF5722; }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

.animate-flame {
  animation: flame 2s infinite;
} */

/* firey animation */
@keyframes burn {
  0% { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

.animate-fire {
  background-image: linear-gradient(90deg, #FF5722, #FFC107, #FF5722);
  background-repeat: repeat;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: burn 2s infinite;
}


/* ----------------------- DASHBOARD ------------------------------ */

/* the button group on dashboard */
.button-group {
  display: flex;
  gap: 7px; /* Adjust the value as needed for the desired gap */

}

.btn-modified{
  width : 250px;
  height: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: larger;
}

.join {
  background-color: #2F80ED; /* Blue color */
  color: white;
}

.join:hover {
  background-color: #1B4C8C; /* Darker blue color on hover */
  color: white;
}

.create {
  background-color: #E53E3E; /* Red color */
  color: white;
}

.create:hover {
  background-color: #B02424; /* Darker red color on hover */
  color: white;
}

