@tailwind base;
@tailwind components;
@tailwind utilities;

/* center the obj */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 10px; 
  padding-right: 10px;
}

/* ---------------------   LANDING PAGE   ------------------------------- */
/* more intense colors in the landing page */
.text-blue-400 {
  color: hsl(200, 100%, 50%);
}

.text-red-400 {
  color: hsl(0, 100%, 61%);
}

/* firey animation */
@keyframes burn {
  0% { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

.animate-fire {
  background-image: linear-gradient(90deg, #FF5722, #FFC107, #FF5722);
  background-repeat: repeat;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: burn 2s infinite;
}


/* ----------------------- DASHBOARD--------------------------- */

/* the button group on dashboard */
.joinB {
  display: flex;
  gap: 15px; /* Adjust the value as needed for the desired gap */
}

@media (min-width: 768px) {
  .btn-modified {
    width: 250px;
    height: 100px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: larger;
  }
}

.joinq {
  background-color: #2F80ED; /* Blue color */
  color: white;
}

.joinq:hover {
  background-color: #1B4C8C; /* Darker blue color on hover */
  color: white;
}

.create {
  background-color: #E53E3E; /* Red color */
  color: white;
}

.create:hover {
  background-color: #B02424; /* Darker red color on hover */
  color: white;
}

/* ----------------- NEW QUIZ FORM --------------------- */
.txtf{
  font-size: 20px;
}

.txtin{
  font-size: 15px;
}

.bb{
  display: flex;
  justify-content:flex-end; 
  align-items: flex-end;
}

/* LOADING */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.progress {
  border: none;
  border-radius: 20px;
  height: 15px;
}

/* ------------------------------- QUESTION FORM---------------------------------------------------- */
@media (max-width: 768px) {
  .questionForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .questionForm > * {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0;
  }
}

@media (min-width: 768px) {
  .questionForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
  }

  .questionForm > * {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
  }
}

/* to make children of this class */

.questionForm > :nth-child(1) {
  flex: 0.4;
}

.questionForm > :nth-child(2) {
  flex: 0;
}

.questionForm > :nth-child(3) {
  flex: 2;
}
/* ---------------- DASHBOARD TABLE------------------ */
.displayTable{
  display: flex;
  flex-direction: row;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

/* to make children of this class */
.displayTable > * {
  flex:1;
  margin: 0 10px; /* Add margin for gap */
}

.displayTable > *:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* ----------------------MCQ ONLY--------------------------- */
.checkBox{
  width: 10%;
}

.optionBox{
  width: 90%;
}

.btnTransparent{
  background-color: transparent;
  cursor: pointer;
  font-size: larger;
}

/* -------------------RADIO BIX ONLY---------------------- */
.bigRad{
  width :70px;
  height: 40px;
}

