.tableElement {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-evenly;
  border-bottom: 1px solid hsl(var(--n));
  width: 100%;
}

.tableElement:nth-last-child(2) {
  border-bottom: none;
}
.tableElement:hover {
  background-color: hsl(var(--b1));
}

.tableElement > * {
  text-align: center;
  flex: 1;
  /* margin: 0 10px; */
}

.tableHeading {
  display: flex;
  width: 100%;
  padding: 1em;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: hsl(var(--bc) / 50%);
  border-bottom: 1px solid hsl(var(--n));
}

.tableHeading > * {
  flex: 1;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.moreIcon {
  filter: invert();
  margin: auto;
}
