/* ---------------- DASHBOARD TABLE------------------ */
.displayTable {
  display: flex;
  flex-direction: row;
  padding: 5px;
  text-align: center;
  /* border-radius: 10px; */
  border-bottom: 1px solid #e2e8f02d;
}

/* to make children of this class */
.displayTable > * {
  flex: 1;
  margin: 0 10px; /* Add margin for gap */
}

.displayTable > *:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tableHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}
