/* ---------------- DASHBOARD TABLE------------------ */
.tableContainer {
  background-color: hsl(var(--b2));
  border-radius: 1em;
  padding: 2em 1em;
  border: 1px solid rgba(255, 255, 255, 0.285);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: clamp(200px, 100%, 750px);
}

.tableElement {
  display: flex;
  flex-direction: row;
  padding: 5px;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(var(--n));
  width: 100%;
}

.tableElement:nth-last-child(1) {
  border-bottom: none;
}
.tableElement:hover {
  background-color: hsl(var(--b2));
}

.tableElement > * {
  text-align: left;
  flex: 1;
  /* margin: 0 10px; */
}

.tableHeading {
  display: flex;
  width: 100%;
  padding: 5px;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;

  color: hsl(var(--bc) / 50%);
  border-bottom: 1px solid hsl(var(--n));
}

.tableHeading > * {
  flex: 1;
  text-align: left;
}

.moreIcon {
  filter: invert();
}

/* ----------------SKELETON LOADING CSS ADDED------------ */

.skeleton {
  opacity: 0.7;
  border-radius: 0.25rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonText {
  width: 50%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonText:last-child {
  margin-bottom: 0;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.displayTableSkeleton {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border-radius: 10px; */
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  /* border-bottom: 1px solid #e2e8f02d; */
}

.displayTableSkeleton > * {
  flex: 1;
  margin: 0 10px;
}
.tabsContainer {
  position: relative;
  width: max-content;
  background-color: hsl(var(--b3));
}
.tabBox {
  width: 1cm;
  height: 1cm;
  background-color: hsl(var(--p));
  position: absolute;
  transition: width, translate 150ms ease;
  border-radius: 0.5em;
}
